<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Book!</title>
</head>
<body>
<h1 th:text="${book.name}">Book</h1>

<img th:if="${book.image} ? 'null'" th:src="uploads/default.png" th:unless="${book.image}" alt="Обложка" title="Обложка">
<table class="table">
    <tr>
        <td>Название</td>
        <td th:text="${book.name}">Моя книга</td>
    </tr>
    <tr>
        <td>Год</td>
        <td th:text="${book.year}"></td>
    </tr>
    <tr>
        <td>Цена</td>
        <td th:text="${book.price}"></td>
    </tr>
    <tr>
        <td>Описание</td>
        <td th:text="${book.description}"></td>
    </tr>
</table>

<div th:if="${user_role} ? 'ADMIN'">
    <td><a th:href="@{books/remove/{id}(id=${book.id})}" class="btn btn-dark">Удалить</a></td>
    <td><button type="button" th:href="@{books/edit/{id}(id=${book.id})}" class="btn btn-dark">Изменить</button></td>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>