<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Редактирование книги</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark">Главная</a></li>
            <li><a href="/books/add" class="nav-link px-2 link-dark">Добавить книгу</a></li>
            <li><a href="/books/mycart" class="nav-link px-2">Корзина</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
            <a href="/registration"><button type="button" class="btn btn-outline-primary">Sign-up</button></a>
            <a href="/logout"><button type="button" class="btn btn-outline-primary">Logout</button></a>
        </div>
    </header>
</div>
<h1>Редактирование книги</h1>
<div class="container">
    <div class="row">
        <form method="post" action="/books/add">
            <label for="name">Название книги: <input name="name" id="name" class="form-control" th:value="${book.name}" /></label><br>
            <label for="year">Дата выпуска: <input name="year" id="year" class="form-control" th:value="${book.year}" /></label><br><br>
            <label for="description">Описание книги: <textarea id="description" th:text="${book.description}"></textarea></label><br><br>
            <label for="price">Цена продажи: <input name="price" id="price" class="form-control" th:value="${book.price}" /></label><br>
            <button type="submit" class="btn btn-dark">Изменить</button>
    </form>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>