<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="container">
                <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
                        <li th:if="${user_role == 'ADMIN'}"><a href="/books/add" class="nav-link px-2 link-dark">Добавить книгу</a></li>
                        <li><a href="/books/mycart" class="nav-link px-2 link-dark">Корзина<div th:text="${cart_count}" style="color: darkred; text-align: center"></div></a></li>
                    </ul>

                    <div class="col-md-3 text-end">
                        <a href="/login"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
                        <a href="/registration"><button type="button" class="btn btn-outline-primary">Sign-up</button></a>
                        <a href="/logout"><button type="button" class="btn btn-outline-primary">Logout</button></a>
                        <a th:if="${user_role == 'ADMIN'}" href="/panel/"><button type="button" class="btn btn-outline-primary">Admin panel</button></a>
                    </div>
                </header>
            </div>
        </div>
    </body>
</html>