<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Авторизация</title>
</head>
<body>
<div class="container">
    <div class="row">
        <form action="/login" method="post">
            <p><label for="username"> Имя пользователя: <input type="text" name="username" class="form-control" id="username" placeholder="Имя пользователя" /></label></p>
            <p><label for="password"> Пароль: <input type="password" name="password" class="form-control" id="password" placeholder="Пароль" /></label></p>
            <p><input type="submit" class="btn btn-primary" value="Вход"/></p>
        </form>
    </div>
    <a href="/registration"><button class="btn btn-primary">Создать нового пользователя</button></a>
</div>
</body>
</html>