<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Регистация</title>
</head>
<body>
<div class="panel-info" th:if="${message}"> <!--После показа сообщения будет редирект на главную страницу-->
    <p th:text="${message}"></p>
    <script>
        window.setTimeout(function(){
            window.location.href = "/";
        }, 3000);
    </script>
</div>
<div class="container">
    <div class="row">
        <form action="/registration" method="post">
            <p><label for="username"> Имя пользователя: <input type="text" class="form-control" id="username" name="username" placeholder="Имя пользователя" /></label></p>
            <p><label for="password"> Пароль: <input type="password" class="form-control" id="password" name="password" placeholder="Имя пользователя" /></label></p>
            <p><input type="submit" class="btn btn-primary" value="Регистрация"/></p>
        </form>
    </div>
</div>
</body>
</html>